# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab

# VS / Rider
.vs/
.idea/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db